body {
  font-family: "Karla", sans-serif;
  margin: 0px;
  background-color: #FFFFFF;
}

#mainContent {
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  height: 95%;
  position: fixed;
  width: 80%;
}

.piles {
  border-spacing: 20px;
}

.piles td {
  border-style: inset;
  margin: 10px;
  padding: 5px;
}

.card {
  border: solid 2px;
  border-radius: 3px;
  margin: 3px;
  padding: 2px;
  font-size: small;
}

.yellow {
  border-color: #fbff0f;
}

.blue {
  border-color: blue;
}

.black {
  border-color: black;
}

.red {
  border-color: red;
}

.zombie {
  border-color: green;
  background-color: gray;
}
